


.infoboxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.infobox {
  width: 24rem;
  height: 12rem;
  border: 1px solid #6e5757;
  padding: 1rem;
  display: flex;
  cursor: pointer;
}
.infobox .icon {
  width: 35%;
}
.infobox .text h4 {
  font-size: 1.8rem;
  font-weight: 300;
}
.bt-icon{
  margin-left: 5px;
}
